body {
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: rgb(246, 246, 246);
}

h1, h4 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 25px;
}

ol {
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/* header **********************************************/
header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 63px;
  margin: 0;
  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

#ville {
  background: rgb(234, 234, 234);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* intro**********************************************/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
}

.intro p {
  font-weight: 300;
}

#Restaurants {
  width: 218px;
  height: 50px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  border-radius: 25px;
}
#Restaurants:hover {
  filter: brightness(1.2);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.3764705882);
  transition: all 0.3s ease;
}

/* Fonctionnement ************************************/
.Fonction {
  padding: 60px 20px;
  background: rgb(255, 255, 255);
}

.Fonction li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  background: #F6F6F6;
  border-radius: 20px;
  padding: 20px 20px 20px 0px;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
}

.Fonction ol {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

li span {
  position: relative;
  right: 12px;
  font-size: 14.18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 24px;
  width: 24px;
  background: #9356DC;
  border-radius: 50px;
}

/* Restaurants ***************************************/
.restaurant {
  padding: 60px 0px;
}

.restaurant h2 {
  padding-left: 18px;
}

.CARD {
  display: flex;
  flex-direction: column;
  padding: 0px 18px 0px 17px;
  gap: 18px;
  margin-bottom: 30px;
}

.CARD img {
  position: relative;
  width: 100%;
  height: 66%;
  border-radius: 15px 15px 0px 0px;
  z-index: 1;
}

.card {
  position: relative;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
}

.Nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 29px;
  background: rgb(153, 226, 208);
  color: rgb(0, 135, 102);
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 10px;
}

.card-content {
  height: 34%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  align-items: center;
  box-sizing: border-box;
}

.resto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fa-heart {
  font-size: 21px;
}

.card-content .fa-solid {
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card .fa-heart {
  font-weight: 400;
  font-size: 21px;
  color: black;
  background-color: white;
  transition: all 0.3s ease;
}
.card:hover .fa-heart {
  color: transparent;
  background: linear-gradient(rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
}

/* Footer *********************************************/
h4 {
  font-size: 18px;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  padding: 22px 25px;
  color: white;
  gap: 16px;
}

ul {
  padding-left: 0;
  margin: 0;
}

nav li {
  list-style: none;
  margin-bottom: 7px;
}

footer .fa-solid {
  height: 13px;
  width: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.foot {
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (min-width: 767.98px) {
  .Fonction ol {
    flex-direction: row;
    gap: 25px;
  }
  .Fonction li {
    flex-grow: 1;
  }
}
@media (min-width: 1024px) {
  .Fonction {
    padding: 60px 180px;
  }
  .restaurant {
    display: flex;
    flex-direction: column;
    padding: 30px 180px;
  }
  .CARD {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
  }
  .CARD a {
    width: calc(50% - 60px);
    flex-grow: 1;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: end;
    gap: 100px;
  }
  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}/*# sourceMappingURL=index.css.map */