/* header **********************************************/
header {
    display: flex;
    flex-direction: column;
}

#ville {
    background-color: #EAEAEA;
}

h2 {
    font-size: 24px;
}

/* Fonctionnement ************************************/
.Fonction li {
    font-size: 16px;
}
/* Restaurants ***************************************/

/* Footer *********************************************/

